################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pointman.COMD/.vs/Pointman.COMD/FileContentIndex/05ace6a9-06f1-4c73-96c1-f8ef6fed96b5.vsidx
/Pointman.COMD/.vs/Pointman.COMD/FileContentIndex/1af285ca-1c06-46c5-ace9-fadfccbaf0bf.vsidx
/Pointman.COMD/.vs/Pointman.COMD/FileContentIndex/546515c6-8e80-43f5-ba61-6e6760278aa1.vsidx
/Pointman.COMD/.vs/Pointman.COMD/FileContentIndex/c5228554-4ae6-40d5-b4cc-975dc80dcac0.vsidx
/Pointman.COMD/.vs/Pointman.COMD/v17/DocumentLayout.json
/Pointman.COMD/.vs/Pointman.COMD/v17/.suo
